{% extends 'base.html.twig' %}


{% block body %}

	<div class="container">

		<h1 class="my-4 text-center">Espace Membre</h1>
        <h3 class="my-4 text-center">Modifier mon Mot de Passe</h3>

		{{form(modifyPwd)}}


	</div>
{% endblock %}
