{% if field.value == 1 %}
<span class="bg-primary p-2 rounded text-white">En attente de paiement</span>
{% elseif field.value == 2 %}
<span class="bg-success p-2 rounded text-white">Cmde payée</span>
{% elseif field.value == 3 %}
<span class="bg-primary p-2 rounded text-white">Cmde expédiée</span>
{% endif %}