{% extends 'base.html.twig' %}


{% block body %}

	<div class="container my-4 text-center">

		<h1 class="my-5 ">✅ Merci pour votre commande !</h1>

		<a href="" ><button class="btn btn-success mx-auto">Consulter ma commande</button></a>
		

	</div>

</div>{% endblock %}
